@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Today Start */
.today {
    padding: 25px 0;
    /* background-image:linear-gradient(45deg, #696df7, #56bdef); */

    background-image: repeating-linear-gradient(45deg, yellow 0px, yellow 40px, black 40px, black 80px);
    position: relative;
}

.today::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000c4;
    z-index: 0;
}


.today h3 {
    color: #000;
    text-align: center;
    background: #ffffff;
    border-radius: 9px;
    padding: 10px;
    font-size: 20px;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    margin-bottom: 5px;
    z-index: 2;
    position: relative;
}

.today-bg {
    background: #000000f2;
    min-height: 200px;
    border: 4px solid #ffffff;
    width: 100%;
    border-radius: 10px;
    display: flex;
    z-index: 2;
    position: relative;
}

.left-area {
    width: 50%;
    padding: 20px;
}

.right-area {
    width: 50%;
    padding: 20px;
}

.today ul {}

.today ul li {
    list-style-position: inside;
    color: #ffffff;
}

.today ul li a {
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.today ul li a:hover {
    color: yellow;
}

/* Today End */

.container {
    width: 1140px;
    margin: auto;
    overflow: hidden;
}

.border {
    height: 2px;
    width: 100%;
    background-image: linear-gradient(45deg, #696df7, #56bdef);
    margin: 80px 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

/* Repeating Linear Gradient */
/* .today {
    height: 350px;
    width: 100%;
    background: red;
} */